In [1]:
#!pip install graphviz

In [2]:
import pandas as pd
from sklearn import tree
import numpy as np

In [3]:
tree_df = pd.read_csv('../output_data/model_data.csv')
tree_df.head()
X = tree_df[["Cum GPA", "TEAS Count","MaxOfTestScore","failing grade count","Time to Test (days)","Completion Time (days)",
        "HighSchool", "Assoc","Bach","Masters"]]

In [4]:
trees_df = tree_df.drop(['PrecEducDesc', 'Grade'], axis=1)

In [5]:
target = trees_df["GradePass"]
target_names = ["negative", "positive"]

In [6]:
data = trees_df.drop("GradePass", axis=1)
feature_names = data.columns

In [7]:
 from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [8]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, max_depth=4)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.762214983713355

In [9]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.4543250781230795, 'Cum GPA'),
 (0.1760321665581101, 'Time to Test (days)'),
 (0.1269622210718098, 'Completion Time (days)'),
 (0.10729627806129537, 'MaxOfTestScore'),
 (0.07560716142847684, 'TEAS Count'),
 (0.0370763293317178, 'failing grade count'),
 (0.006983482340615578, 'HighSchool'),
 (0.006377407928870816, 'Assoc'),
 (0.00493176945640545, 'Bach'),
 (0.004408105699618776, 'Masters')]

In [10]:
result = trees_df.values
pd.DataFrame(result)

         0    1     2    3       4      5    6    7    8    9   10
0     2.84  1.0  76.0  0.0  209.00  591.0  1.0  1.0  0.0  0.0  0.0
1     3.14  1.0  74.7  0.0   73.00  467.0  1.0  1.0  0.0  0.0  0.0
2     3.22  1.0  75.3  0.0   84.51  578.0  1.0  1.0  0.0  0.0  0.0
3     3.29  2.0  77.3  0.0   60.00  591.0  0.0  1.0  0.0  0.0  0.0
4     3.38  2.0  72.7  0.0   80.33  600.0  1.0  0.0  1.0  0.0  0.0
...    ...  ...   ...  ...     ...    ...  ...  ...  ...  ...  ...
1220  3.95  1.0  86.0  0.0  101.53  481.0  1.0  0.0  0.0  1.0  0.0
1221  3.64  1.0  77.3  0.0   27.00  481.0  1.0  0.0  0.0  1.0  0.0
1222  3.43  1.0  78.0  0.0   80.00  481.0  1.0  0.0  0.0  1.0  0.0
1223  3.43  1.0  88.0  0.0   72.00  481.0  1.0  0.0  0.0  1.0  0.0
1224  3.78  1.0  80.7  0.0   28.00  481.0  1.0  0.0  0.0  1.0  0.0

[1225 rows x 11 columns]

In [11]:
from sklearn.metrics import classification_report
y_predict = rf.predict(X_test)
class_report = classification_report(y_test, y_predict, output_dict=True)
class_report_df = pd.DataFrame(class_report).transpose()
class_report_df.to_csv('Outputs/gboost_report.csv')
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         0.0       0.65      0.27      0.38        83
         1.0       0.78      0.95      0.85       224

    accuracy                           0.76       307
   macro avg       0.71      0.61      0.61       307
weighted avg       0.74      0.76      0.72       307